<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library | {% block title %} Home {% endblock title%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col w-screen min-h-screen gap-2">
    <header class="flex justify-between items-center p-4 bg-gray-100 shadow-lg h-20">
        <h1 class="font-bold text-xl md:text-3xl">Library Management System.</h1>
        <div class="flex gap-4 p-2 items-center justify-center">
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input class="bg-red-700 border-2 border-red-700 rounded p-2 hover:bg-red-700 hover:text-gray-300 hover:border-red-700 cursor-pointer" type="submit" value="Log Out">
                </form>
            {% endif %}
        </div>
    </header>
    <main class="min-h-[80vh]">
        {% block content %}
        {% endblock content%}
    </main>
    <footer class="flex justify-center items-center text-gray-400">
        <small>&copy;<span id="year"></span> <a href="https://github.com/cmwema/">Caleb Mwema</a> </small>
    </footer>

    <script>
        const date = new Date().getFullYear();
        const dateTag = document.getElementById("year");
        dateTag.innerHTML = date;
    </script>

</body>
</html>