{% extends "home.html" %}
{% block new %}
    <ul>
        <li><a href="/" class="w-max bg-gray-400 border-2 border-gray-400 rounded p-2 hover:bg-gray-700 hover:text-gray-300 hover:border-gray-700">New</a></li>
    </ul>
{% endblock new %}
{% block table %}
<div class="w-full h-full p-4">
    <table class="w-full border border-collapse">
        <thead>
        <tr class="bg-gray-100 text-2xl">
            <th colspan="6" class="p-4">Book Issues</th>
        </tr>
            <tr class="bg-gray-100">
                <th class="border p-2 text-start">Issued Date</th>
                <th class="border p-2 text-start">Returned Date</th>
                <th class="border p-2 text-start">Member</th>
                <th class="border p-2 text-start">Book</th>
                <th class="border p-2 text-start"></th>
                <th class="border p-2 text-start"></th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issue_list %}
            <tr class="bg-white hover:bg-gray-100">
                <td class="border p-2 text-start">{{ issue.date }}</td>
                <td class="border p-2 text-start">{{ issue.returned }}</td>
                <td class="border p-2 text-start">{{ issue.member }}</td>
                <td class="border p-2 text-start">{{ issue.book }}</td>
                <td class="border p-2 text-start"><button class="w-full bg-gray-100 rounded hover:bg-gray-200">edit</button></td>
                <td class="border p-2 text-start"><button class="w-full bg-red-100 rounded hover:bg-red-200">del</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock table %}